body {
    font-family: Arial;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    background: lightblue;
    margin: 10px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.image-container {
    overflow: hidden;
}

img {
    width: 100%;
    transition: transform 0.3s;
}

button {
    margin: 10px;
    padding: 10px;
}
